@import "../../style.css";

.question {
  border: 1px solid #333;
  margin: 1rem;
  padding: 1rem;
  max-width: 100%;
  display: flex;
  flex-direction: column;
}
.content {
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: nowrap;
}
p {
  display: none;
  overflow: hidden;
  max-width: 100%;
}
.question h1,
p {
  font-size: medium;
  margin: 1rem;
}
.btn {
  border-radius: 50%;
  width: 2rem;
  height: 2rem;
  border: transparent;
  outline: none;
  color: var(--primary-color);
}
