@import "../../style.css";

img {
  width: 220px;
  height: 220px;
  object-fit: cover;
  border: 0.3rem solid var(--paragraph-color);
  border-radius: 50%;
}
.review {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  transition: all 0.5s linear;
}

.content {
  text-align: center;
  width: 100%;
}
.content h1 {
  font-size: 16px;
  letter-spacing: 3px;
  color: var(--primary-color);
}
.content h2 {
  font-size: 14px;
  font-weight: 400;
}
.content p {
  font-size: 15px;
  line-height: 1.5rem;
  margin: 1rem;
}
