@import "../../style.scss";

.quote {
  letter-spacing: 1px;
  h3 {
    margin-top: 0;
    line-height: 1.5rem;
  }
  P {
    text-align: right;
  }
  .buttons {
    display: flex;
    justify-content: space-between;

    a {
      text-decoration: none;
      border: 1px solid;
      color: #fff;
      padding: 0.5rem;
    }
    button {
      outline: none;
      border: none;
      color: #fff;
      padding: 0.5rem;
      cursor: pointer;
    }
  }
}
