@import "../../style.css";

.main {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.center {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  height: 450px;
  overflow: hidden;
  position: relative;
  max-width: 800px;
  margin: 4rem auto;
}
.center section {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: var(--transition);
}
.left,
.right {
  position: absolute;
  top: 50%;
}
.left {
  left: 0;
}
.right {
  right: 0;
}
.previous-slide,
.next-slide {
  opacity: 0;
}
.previous-slide {
  transform: translateX(-100%);
}
.next-slide {
  transform: translateX(100%);
}
.active-slide {
  opacity: 1;
  transform: translateX(0%);
}
.btn,
.svg {
  font-size: 2rem;
  color: var(--primary-color);
}
