* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", "Helvetica Neue", sans-serif;
}

body {
  width: 100%;
  background-color: var(--primary-color);
  --primary-color: #520248;
  --secondary-color: #fff;
  --paragraph-color: rgba(0, 0, 0, 0.5);
  --heading-color: #000;
}
