* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", "Helvetica Neue", sans-serif;
}

body {
  width: 100%;
  background-color: var(--primary-color);
  --primary-color: #520248;
  --secondary-color: #fff;
  --paragraph-color: rgba(0, 0, 0, 0.5);
  --heading-color: #000;
}
.main {
  display: flex;
  background-color: var(--secondary-color);
  margin: 2rem auto;
  padding: 2rem;
  max-width: 80%;
  border-radius: 20px;
  justify-content: space-between;
}
@media screen and (max-width: 600px) {
  .main {
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
}
