* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", "Helvetica Neue", sans-serif;
}

body {
  width: 100%;
  background-color: var(--secondary-color);
  --primary-color: #bd4500;
  --secondary-color: #cee5ed;
  --paragraph-color: rgb(153, 153, 153);
  --transition: all 0.3s linear;
}
