@import "../../style.scss";

.bg {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  .active {
    padding: 3rem;
    background-color: #fff;
    width: 50%;
    max-width: 550px;
    animation: enter 0.8s linear 1;
  }
  @keyframes enter {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
}
